<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<div class="container">
    <div class="row mt-5">
        <h1> Home Page </h1>
<hr>
<p>Lorem ipsum dolor sit amet. Et culpa repellendus et nihil officiis et vero tenetur sit
quia adipisci aut nihil nulla non repellat adipisci eos expedita nemo. 
Ea voluptatem suscipit ut molestias optio est velit dolor et omnis amet est pariatur recusandae 
et porro quibusdam. 
</p>
    </div>
</div>
<%- include('./partials/footer.ejs') %>